{% extends "main/base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
	
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h2>About Us</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="index.html">Home</a></li>
				<li>Pages</li>
				<li>About Us</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- About Section -->
	<section class="about-section">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/about.jpg" alt="" />
							
							<!-- Email Box -->
							<div class="years-box">
								<span>20+</span> Years Of Experience
							</div>
							<!-- End Email Box -->
							
							<!-- Experiance Box -->
							<div class="experiance">
								<div class="counter"><span class="odometer" data-count="25"></span> +</div>
								<span class="years">years of <br> experince</span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">About Our Store</div>
						<h2>Quality Furniture Store On <br> Your Specific Area</h2>
						<div class="text">We build and activate brands through cultural insight, str <br> vision, and the power of emotion across every</div>
						<ul class="options">
							<li><span class="icon flaticon-armchair"></span>Furniture Design</li>
							<li><span class="icon flaticon-livingroom"></span>Home Decoration</li>
						</ul>
						<ul class="check-list">
							<li>Mix and match colors, sizes, and designs</li>
							<li>Top quality prints using the latest technology</li>
						</ul>
						<div class="designation"><span>Foqrul Saheb</span> Senior Artist Developer</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Sale Section Three -->
	<section class="sale-section-three">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<div class="title">100% organic Food</div>
				<h2>Produce Stuning Printing <br> For Your Business</h2>
			</div>
			
			<!-- Sale Info Tabs -->
			<div class="sale-info-tabs">
				<!-- Sale Tabs -->
				<div class="sale-tabs tabs-box">
				
					<!-- Tab Btns -->
					<ul class="tab-btns tab-buttons clearfix">
						<li data-tab="#prod-about" class="tab-btn active-btn">About us</li>
						<li data-tab="#prod-objective" class="tab-btn">Objective</li>
						<li data-tab="#prod-excellent" class="tab-btn">Excellent</li>
					</ul>
					
					<!-- Tabs Container -->
					<div class="tabs-content">
						
						<!-- Tab / Active Tab -->
						<div class="tab active-tab" id="prod-about">
							<div class="content">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from characteristic words etc.</p>
								<h5>World best education site - (Computer engeenering)</h5>
								<div class="check-list-outer">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<ul class="check-list">
												<li>Preaching Worship An Online Family</li>
												<li>Preaching Worship An Online Family</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<ul class="check-list">
												<li>Preaching Worship An Online Family</li>
												<li>Preaching Worship An Online Family</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tab -->
						<div class="tab" id="prod-objective">
							<div class="content">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from characteristic words etc.</p>
								<h5>World best education site - (Computer engeenering)</h5>
								<div class="check-list-outer">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<ul class="check-list">
												<li>Preaching Worship An Online Family</li>
												<li>Preaching Worship An Online Family</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<ul class="check-list">
												<li>Preaching Worship An Online Family</li>
												<li>Preaching Worship An Online Family</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tab -->
						<div class="tab" id="prod-excellent">
							<div class="content">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from characteristic words etc.</p>
								<h5>World best education site - (Computer engeenering)</h5>
								<div class="check-list-outer">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<ul class="check-list">
												<li>Preaching Worship An Online Family</li>
												<li>Preaching Worship An Online Family</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<ul class="check-list">
												<li>Preaching Worship An Online Family</li>
												<li>Preaching Worship An Online Family</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Sale Section Three -->
	
	<!-- Services Section Two -->
	<section class="services-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<a href="shop-detail.html"><img src="images/resource/service-2.png" alt="" /></a>
							</div>
							<div class="lower-content">
								<h5><a href="shop-detail.html">Free Shipping</a></h5>
								<div class="text">We build and activate brands through cultural <br> str vision, and the power of emotion <br> across every</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<a href="shop-detail.html"><img src="images/resource/service-1.png" alt="" /></a>
							</div>
							<div class="lower-content">
								<h5><a href="shop-detail.html">24/7 Qualityful Support</a></h5>
								<div class="text">We build and activate brands through cultural <br> str vision, and the power of emotion <br> across every</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<a href="shop-detail.html"><img src="images/resource/service-2.png" alt="" /></a>
							</div>
							<div class="lower-content">
								<h5><a href="shop-detail.html">Easy Return Policy</a></h5>
								<div class="text">We build and activate brands through cultural <br> str vision, and the power of emotion <br> across every</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Two -->
	
	<!-- Sponsors Section -->
    <section class="sponsors-section style-two">
		<div class="feature-icon" style="background-image: url(images/icons/feature.png)"></div>
        <div class="auto-container">
			<div class="inner-container">
				<div class="sponsors-outer">
					<!-- Sponsors Carousel -->
					<ul class="sponsors-carousel owl-carousel owl-theme">
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!-- End Sponsors Section -->
	
	<!-- Testimonial Section Two -->
	<section class="testimonial-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<span class="dott"></span>
				
				<div class="single-item-carousel owl-carousel owl-theme">
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two">
						<div class="inner-box">
							<h3>testimonials</h3>
							<div class="text">The other hand we denounce with righteou indg ation and dislike men who are so beguiled and demorali ed by the of pleasure of the moment.Dislike men who are so beguiled  demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit</div>
							<div class="designation"><span>Foqrul Saheb</span> Senior Artist Developer</div>
						</div>
					</div>
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two">
						<div class="inner-box">
							<h3>testimonials</h3>
							<div class="text">The other hand we denounce with righteou indg ation and dislike men who are so beguiled and demorali ed by the of pleasure of the moment.Dislike men who are so beguiled  demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit</div>
							<div class="designation"><span>Foqrul Saheb</span> Senior Artist Developer</div>
						</div>
					</div>
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two">
						<div class="inner-box">
							<h3>testimonials</h3>
							<div class="text">The other hand we denounce with righteou indg ation and dislike men who are so beguiled and demorali ed by the of pleasure of the moment.Dislike men who are so beguiled  demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit</div>
							<div class="designation"><span>Foqrul Saheb</span> Senior Artist Developer</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section Two -->
	
	<!-- Brand Section -->
	<section class="brand-section">
		<div class="outer-container">
			<div class="animation_mode">
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="images/icons/icon-1.png" alt="" />
				<img src="images/icons/feature.png" alt="" />
				<img src="images/icons/icon-2.png" alt="" />
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="images/icons/icon-1.png" alt="" />
				<img src="images/icons/feature.png" alt="" />
				<img src="images/icons/icon-2.png" alt="" />
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="images/icons/icon-1.png" alt="" />
				<img src="images/icons/feature.png" alt="" />
				<img src="images/icons/icon-2.png" alt="" />
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="images/icons/icon-1.png" alt="" />
				<img src="images/icons/feature.png" alt="" />
				<img src="images/icons/icon-2.png" alt="" />
			</div>
		</div>
	</section>
	<!-- End Brand Section -->
	
	<!-- News Section -->
	<section class="news-section-two style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h4><span>Products </span> Your Choice!</h4>
			</div>
			<div class="row clearfix">
				
				<!-- News Block -->
				<div class="news-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
							<h5><a href="blog-detail.html">The City of London Wants To Have Brexit Cake available</a></h5>
							<a class="read-more" href="#">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="images/resource/news-4.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
							<h5><a href="blog-detail.html">The City of London Wants To Have Brexit Cake available</a></h5>
							<a class="read-more" href="#">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="images/resource/news-5.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
							<h5><a href="blog-detail.html">The City of London Wants To Have Brexit Cake available</a></h5>
							<a class="read-more" href="#">Read More</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Button Box -->
			<div class="button-box text-center">
				<a href="blog.html" class="theme-btn btn-style-one">
					More Blog <span class="icon flaticon-right-arrow"></span>
				</a>
			</div>
			
		</div>
	</section>
	<!-- End News Section -->
{% endblock content %}