{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}
{% block title %}{{title}}{% endblock title %}
{% block content %}


	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h2>Shop Page</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="index.html">Home</a></li>
				<li>Pages</li>
				<li>Shop Page</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
					<!-- Filter Box -->
					<div class="filter-box">
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<!-- Left Box -->
							<div class="left-box d-flex align-items-center">
								<div class="results">Showing 1–12 of 54 results</div>
							</div>
							<!-- Right Box -->
							<div class="right-box d-flex">
								<div class="form-group">
									<select name="currency" class="custom-select-box">
										<option>Recently Added</option>
										<option>Added 01</option>
										<option>Added 02</option>
										<option>Added 03</option>
										<option>Added 04</option>
									</select>
								</div>
								<ul class="pages-list">
									<li><a class="flaticon-list" href="#"></a></li>
									<li><a class="flaticon-menu-2" href="#"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Filter Box -->
					
					<div class="shops-outer">
						<div class="row clearfix">

							{% for product in goods %}
							<!-- Shop Item -->
							<div class="shop-item col-lg-4 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										{% if product.image1 %}
										<a href="shop-detail.html"><img src="{{product.image1.url}}" alt="{{product.model}}" /></a>
										{% endif %}
										<div class="options-box">
											<ul class="option-list">
												<li><a class="flaticon-resize" href=""></a></li>
                                                <li><a class="flaticon-heart" href=""></a></li>
												<li><a class="flaticon-shopping-cart-2" href=""></a></li>
											</ul>
										</div>
									</div>
									<div class="lower-content">
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="light fa fa-star"></span>
										</div>
										<h6><a href="{% url 'goods:product' product.slug %}">{{product.model}} <br> {{product.line}}</a></h6>
										<div class="d-flex justify-content-between align-items-center">
											{% if product.discount_percentage %}
											<div class="price"><span> €{{product.price}}</span>  €{{product.sell_price}}</div>
											{% else %}
											<div> €{{product.price}}</div>
											{% endif %}
											<!-- Quantity Box -->
											<div class="quantity-box">
												<div class="item-quantity">
													<input class="qty-spinner" type="text" value="1" name="quantity">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}

                        </div>

						<!-- Styled Pagination -->
						<ul class="styled-pagination text-center">
                            <li class="next {% if not goods.has_previous %}disabled{% endif %}">
               				<a class="next" href="{% if goods.has_previous %}?page={{goods.previous_page_number}}

                            {% endif %}"><span class="fa fa-angle-double-left"></span></a></li>

							{% for page in goods.paginator.page_range %}
               				{% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
							<li><a href="?page={{page}}" class="active">{{ page }}</a></li>
							{% endif %}
							{% endfor %}


							<li class="next {% if not goods.has_next %}disabled{% endif %}">
               				<a class="next" href="{% if goods.has_next %}
               				?page={{goods.next_page_number}}
               				{% endif %}"><span class="fa fa-angle-double-right"></span></a></li>
						</ul>

				<div>
				</div>
				
				<!-- Sidebar Side -->
                <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Category Widget -->
						<div class="sidebar-widget category-widget">
							<div class="widget-content">
								<!-- Sidebar Title -->
								<div class="sidebar-title">
									<h6>Product Catagories</h6>
								</div>
								<!-- Category List -->
								<ul class="category-list">
									{% teg_categories as categories %}
									{% for category in categories %}
									<li><a href="{% url 'goods:shop' category.slug %}">{{category.name}}<span>(колличество)</span></a></li>
									{% endfor %}
								</ul>
								
							</div>
						</div>
						
						<!-- Colors Widget -->
						<div class="sidebar-widget colors-widget">
							<div class="widget-content">
								<!-- Sidebar Title -->
								<div class="sidebar-title">
									<h6>Tile</h6>
								</div>
								<div class="sel-colors">
									<div class="color-box"><input type="radio" name="colors" checked id="color-one"><label style="background-color:#c4c4c4;" for="color-one"></label></div>
									<div class="color-box"><input type="radio" name="colors" id="color-two"><label style="background-color:#0b5fb5;" for="color-two"></label></div>
									<div class="color-box"><input type="radio" name="colors" id="color-three"><label style="background-color:#00a651;" for="color-three"></label></div>
									<div class="color-box"><input type="radio" name="colors" id="color-four"><label style="background-color:#fee496;" for="color-four"></label></div>
									<div class="color-box"><input type="radio" name="colors" id="color-five"><label style="background-color:#bc25bf;" for="color-five"></label></div>
									<div class="color-box"><input type="radio" name="colors" id="color-six"><label style="background-color:#000000;" for="color-six"></label></div>
								</div>
							</div>
						</div>
						
						<!-- Brands Widget -->
						<div class="sidebar-widget brands-widget">
							<div class="widget-content">
								<!-- Sidebar Title -->
								<div class="sidebar-title">
									<h6>Line</h6>
								</div>
								
								<!-- Brands List -->
								<div class="brands-list">
									<form method="post" action="contact.html">

										{% for Lines in line %}
										<div class="form-group">
											<div class="check-box">
												<input type="checkbox" name="remember-password" id="type-1">
												<label for="type-1">{{Lines.name}}</label>
											</div>
										</div>
										{% endfor %}


									</form>
								</div>
								
							</div>
						</div>
						
						<!-- Trending Widget -->
						<div class="sidebar-widget trending-widget">
							<div class="widget-content">
								<div class="content">
									<div class="vector-icon" style="background-image: url({% static 'images/imagessait/icons/vector-3.png' %})></div>
									<div class="title">Trending</div>
									<h4>2022 <span>Laptop</span> <br> Collection</h4>
									<a class="buy-btn theme-btn" href="#">Buy Now</a>
									<div class="icon">
										<img src="{% static 'images/imagessait/resource/lamp-4.png' %}" alt="" />
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tags Widget -->
						<div class="sidebar-widget-two tags-widget">
							<div class="widget-content">
								<!-- Sidebar Title -->
								<div class="sidebar-title">
									<h6>Tags</h6>
								</div>
								<ul class="tag-list">
									{% for Tegs in teg %}
									<li><a href="#">{{Tegs.name}}</a></li>
									{% endfor %}

								</ul>
							</div>
						</div>
						
					</aside>
				</div>
				
			</div>
		</div>
	</div>
	

{% endblock content %}

</body>
</html>